body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

html,
body {
    margin: 0;
    padding: 0;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

@media only screen and (max-width: 767px) {
    footer {
        background-color: #fff3cd;
    }
    main {
        background-color: #fff3cd;
    }
    nav {
        background-color: #fff3cd;
    }
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    line-height: 20px;
    height: 60px;
}

.navbar-brand {
    text-transform: uppercase;
    color: black!important;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 18px;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #0A1172 ;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #0A1172 ;
}


/* So you can't select text on an element */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
         supported by Chrome, Edge, Opera and Firefox */
}


/* Custom touch to a button t */
.cbutton {
    -webkit-font-smoothing: antialiased;
    background-color: #222;
    border: none !important;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 100;
    outline: 0;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 20px 40px;
    text-transform: uppercase;
    transition: all 0.1s ease-out;
    transition: background-color 0.5s ease-out;
}
.cbutton:hover {
    background-color: #90feb5;
    color: #fff;
    outline: 0;
}
.cbutton:active {
    transform: scale(.95);
    border:0;
    outline: 0;
}

/* This makes the element change colors  */

.hue {
    animation: hue-rotate 10s linear infinite;
}

@keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}


.modal {
    position: absolute;
    top: 50%;

}



.modal-body {
    text-align: center;
}






