body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

html,
body {
    margin: 0;
    padding: 0;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

@media only screen and (max-width: 767px) {
    footer {
        background-color: #fff3cd;
    }
    main {
        background-color: #fff3cd;
    }
    nav {
        background-color: #fff3cd;
    }
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    line-height: 20px;
    height: 60px;
}

.navbar-brand {
    text-transform: uppercase;
    color: black!important;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 18px;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

/* So you can't select text on an element */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
         supported by Chrome, Edge, Opera and Firefox */
}

.hint {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 6px 5px;
    border: 1px solid #ffca00;
    border-radius: 4px;
    font-size: 0.85rem;
    vertical-align: middle;
    color: #ffca00;
}


/* Custom touch to a button t */
.cbutton {
    -webkit-font-smoothing: antialiased;
    background-color: #222;
    border: none !important;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 100;
    outline: 0;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 20px 40px;
    text-transform: uppercase;
    transition: all 0.1s ease-out;
    transition: background-color 0.5s ease-in;
    transition: transform 0.2s ease-in;
}
.cbutton:hover {
    background-color: #90feb5;
    color: #fff;
    outline: 0;
    transform: scale(1.015);
}
.cbutton:active {
    transform: scale(.95);
    border:0;
    outline: 0;
}

/* This makes the element change colors  */

.hue {
    animation: hue-rotate 10s linear infinite;
}

@keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}



.modal {
    position: absolute;
    top: 50%;

}


.modal-body {
    text-align: center;
}


.input::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: #0f1041;
}
.input-header {
    position: relative;
    padding-top: 80px;
    color: #fff;
}
.input-header h1 {
    padding-bottom: 25px;
    font-size: 3.25em;
    font-weight: 100;
}
.input-content {
    position: relative;
    background: #fff;
    z-index: 10;
}
.input-content h2 {
    font-size: 1.625em;
    font-weight: bold;
    vertical-align: middle;
}
.input-content h2 span {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 6px 3px;
    border: 1px solid #ffca00;
    border-radius: 4px;
    font-size: 0.85rem;
    vertical-align: middle;
    color: #ffca00;
}
.input-content .inputbox {
    overflow: hidden;
    padding: 20px;
}
.input-content .inputbox-content {
    position: relative;
    width: 100%;
}
.input-content .inputbox-content input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 14px;
    border: 0;
    background: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
}
.input-content .inputbox-content input:focus ~ label, .input-content .inputbox-content input:valid   ~ label {
    color: #2962ff;
    transform: translateY(-20px);
    font-size: 0.825em;
    left: 0;
    cursor: default;
}
.input-content .inputbox-content input:focus ~ .underline {
    width: 100%;
}
.input-content .inputbox-content label {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    color: #ccc;
    cursor: text;
    transition: all 200ms ease-out;
    z-index: 10;
}
.input-content .inputbox-content .underline {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background: #2962ff;
    transition: all 200ms ease-out;
}
.input-content .btns {
    padding: 30px 0 0 200px;
}
.input-content .btns .btn {
    display: inline-block;
    background: none;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    color: #666;
    outline: none;
    transition: all 100ms ease-out;
}
.input-content .btns .btn:hover, .input-content .btns .btn:focus {
    transform: translateY(-3px);
}
.input-content .btns .btn-confirm {
    border: 1px solid #2962ff;
    background: #2962ff;
    color: #fff;
}


/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}


