/* Custom touch to a button t */
.cbutton {
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  border: none !important;
  color: #fff;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;
}
.cbutton:hover {
  background-color: #90feb5;
  color: #fff;
  outline: 0;
}
.cbutton:active {
  transform: scale(.95);
  border:0;
}


